:root {
    --clr-neon: #ff2972;
    --clr-bg: rgba(0, 0, 0, 0.3);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.card-background {
    /* position: absolute; */
    background: RGB(33, 37, 41); 
    width: 100%;
    height: auto;
    /* margin-top: 70vh; */
    padding-top: 100px;
    border: none;
} 

.cardBg {
    background: linear-gradient(rgba(66, 71, 80, 1),rgba(0,0,0,0.5));
    height: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 100px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}
@media (max-width: 720px) {
    .cardBg {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
.cardBg:hover {
    transform: scale(1.01);
}
.haderTxt {
    color: #01B041;
    text-shadow: 1px;
    text-align: center;
    padding: 25px;
    
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card {
    position: relative;
    background: rgba(48, 50, 52, 1); 
    /* background: rgba(0, 0, 0, 1); */
    width: 220px;
    height: 400px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

}
@media (max-width: 720px) {
    .card {
        scale: 0.8;

    }
}
.card::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: card-animation 4s linear infinite;
}

.card::after {
    content: "";
    position: absolute;
    inset: 5px;
    background: rgba(48, 50, 52, 1);  
    border-radius: 16px;
    z-index: 1;
}
.card:hover {
    transform: scale(1.1);
    background: whitesmoke;

}


@keyframes card-animation
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
} 

.card-image {

    width: 100%;
    margin-left: 14px;
    margin-right: auto;
    margin-top: 25px;
    background-repeat: no-repeat;
    z-index: 10;
}

.card-1 {
    background-image: url('../.././images/card-image-1.png');
}
.card-2 {
    background-image: url('../.././images/card-image-2.png');
}
.card-3 {
    background-image: url('../.././images/card-image-3.png');
}
.card-4 {
    background-image: url('../.././images/card-image-4.png');
}


.card-5 {
    background-image: url('../.././images/card-image-5.png');
}
.card-6 {
    background-image: url('../.././images/card-image-6.png');
}
.card-7 {
    background-image: url('../.././images/card-image-7.png');
}
.card-8 {
    background-image: url('../.././images/card-image-8.png');
}
.card-text {
    text-align: center;
    margin-top: 300px;
    font-size: 15px;
    color: aliceblue;
    margin-left: -20px;
    margin-bottom: 50px;
    text-decoration: none;
}
    /* Get rid of the text under-line */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.clock {
    margin-top: 125px;
    margin-bottom: 130px;
    margin-left: 200px;
    margin-right: 50px;


}
@media (max-width: 985px) {
    .clock {
        scale: 1.2;
        margin-top: 200px;
        /* margin-left: 225px;
        margin-left: auto;
        margin-right: auto;  */

    }
}

.drive-link {
    background: rgba(0, 0, 0, 0.3);
    padding: 2rem;
    height: auto;
    width: 85%;
    border-radius: 1rem;
    margin-bottom: 100px;
    overflow: hidden;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}
.drive-link:hover {
    transform: scale(1.01);
}

@media (max-width: 760px) {
    .drive-link {
        width: 100%;
    }
}


.drive-link-text {

    color: whitesmoke;
    text-align: left;
    white-space: nowrap;
    /* margin-top: 50px; */
    /* margin-left: 150px; */
}

.neon-button {
    font-size: 1.5rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;

    transition: background-color 100ms linear;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(.7em);
    opacity: 0;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    background: var(--clr-neon);
    color: white;
    text-shadow: none;

  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }

  




