.homeContainer {
    margin-top: 0;

}

.Bg {
    background: RGB(33, 37, 41); 
    width: 100%;
    height: auto;
    position: absolute; 
    margin-top: 0;

}


.green-img {
    background-image: url('../../../images/green-human.png');
    /* background: rgba(1, 176, 65); */
    margin-top: 300px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 50%;
    border-radius: 15px;
    background-repeat: no-repeat;
    object-fit: cover;

}

