::placeholder {
    width:fit-content
  }


.footer {
    color: #736E6A;
    width: 100%;
    padding-block: 1.5rem;
    position: relative;
}
.footer_box {
    width: 80%;
    margin: 0 auto;
    /* grid-template-columns: 1fr repeat(3, 1fr) 1fr; */
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
}

@media screen and (max-width: 70em) {
    .footer_box {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 30em) {
    .footer_box {
        text-align: center;
        display: block;
    }
}

.footer_txt_hadder {
    color: #1CDB24;
    white-space: nowrap;
}
@media screen and (max-width: 35em) {
    .footer_txt_hadder {
        margin-top: 50px;
    }
}
.coming_soon {
    font-size: small;
}

.footer_input {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 6px;
}

.footer-button {
    font-size: 1.2rem;

    background: #1CDB24;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    margin-top: 10px;
    transition: 0.5s;
  }
.footer-button:hover {
    scale: 1.1;
    color: #736E6A;
}

/* .footer_contact {
    text-align: center;
} */

.txt_right {
    text-align: end;
    margin-right: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.green_line {
    height: 2px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50%;
    background-color: #1CDB24;
}
.copyright {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size:x-large;
    white-space: wrap;
}
@media screen and (max-width: 45em) {
    .copyright {
        display: block;
        text-align: center;
    }
}
.txt_right2 {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
@media screen and (max-width: 45em) {
    .txt_right2 {
        margin-top: 50px;
    }
}
.term_of_use {
    margin-left: 50px;
}


